.table {
  position: relative;
  border-spacing: 0;
  border: none;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  z-index: 9;
  background-color: #fff;
}

table,
th,
td {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-collapse: collapse;
}

th,
td {
  padding: 4px;
}

.fadeIn {
  position: relative;
  transition: transform 0.5s ease;
  transform: translateY(50px);
  border: 1px solid red;
  padding: 6px;
  border-radius: 8px 8px 0 0;
  z-index: -1;
}

.fadeInVisible {
  transform: translateY(0px);
  z-index: 1;
}
